@tailwind base;
@tailwind components;
@tailwind utilities;


.main-grid {
  display: grid;
  grid-template-columns: 1fr minmax(100px, 200ch) 1fr;
  grid-template-rows: 1fr, 1fr;
}

card-grid,
main * {
  grid-column: 2;
}

.card {
  grid-column: auto;
}

/* .hero {
  height: 400px;
} */
.avatar {
  height: 200px;
  border: 2px solid rebeccapurple;
}

/* .hero {
  display: flex;
  align-items: center;
  justify-content: center;

} */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}