@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  scroll-behavior: smooth;
}

.main-grid {
  display: grid;
  grid-template-columns: 1fr minmax(100px, 230ch) 1fr;
  grid-template-rows: 1fr, 1fr;
  /* background-color: aqua; */
  /* padding: 3em; */

}

.main-grid * {
  grid-column: 2;

}

.card {
  grid-column: auto;
}


.avatar {
  height: 200px;
  border: 2px solid rebeccapurple;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}